@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

* {
    animation: fade-in 1,5s;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}
.thead{
    background-color: #FFE4C4;
    
}
#isitabel{
    background-color: rgb(233, 240, 248);
}
@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}
 