@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
* {
    animation: fade-in 1s;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}
